# Node.js
node_modules/
npm-debug.log
.env
.DS_Store # macOS specific

# Build artifacts
build/
dist/
out/

# IDE specific files
.idea/
.vscode/

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Tailwind CSS specific
# These might not always be needed, depending on your setup and if you're building
# Tailwind CSS directly into your main CSS file that's tracked.
# If you are outputting a separate CSS file that is built from Tailwind,
# you might want to ignore that output file.
# For example, if your output CSS is in `src/output.css`:
# src/output.css

# Other common files to ignore
*.log
*.tmp
*.swp